#caixa-titulo{

    position: absolute;
    left: 700px;
}








#div-posicionadora{
    position: absolute;
    left: 200px;
    top: 100px;
}
#areaCampoMinado{
    width:558px;
    height: 433px;
    border:solid 3.5px black;
    position: absolute;
    top: 2px;
    left: 1px;
}



.caixaCampo{
    display: inline-block;
}


.fadeOut{
color: #ffffff00;

}

p{
    margin-top: 5px;
    color: black;
}


.campo{
    height: 60px;
    width: 60px;
    border: black 1px solid;
    display: inline-block;
    background-color: wheat;
    text-align: center;
}
#teste{
    background-color: aquamarine;
}

.teste{
    height: 60px;
    width: 60px;
    border: black 1px solid;
    display: inline-block;
    background-color: wheat;
}

.caixa-centro{
    position: relative;
	width: 940px;
    margin: 0 auto;
    text-align: center;
}
.titulo-principal{
    top: 10px;
    left: 200px;
    font-family: Candara;
    position: absolute;
}
.placar{
    width: 250px;
    height: 85px;
    top: 10px;
    left: 550px;
    font-family: Candara;
    position: relative;

}
.invisivel{
    opacity: 0;
}
.imgPlacar{
    position: absolute;
    width: 50px;
    height: 60px;
}
#imgPlacar1{
    top: 10px;
    left:0px;
}
#imgPlacar2{
    top: 10px;
    left:100px;
}
.contador{
    position: absolute;
    top: 15px;

    font-weight: bold;
    font-size: 30px;
}
#contador-bombas{

    left:50px;

}
#contadorRelogio{

    left:155px;

}
.bombasProximas{
    position: relative;
    top: -10px;
    font-size: 35px;
}
.bombasProximas1{
    position: relative;
    top: -10px;
    font-size: 35px;
    color: red;
}
.bombasProximas2{
    position: relative;
    top: -10px;
    font-size: 35px;
    color: red;
}
.bombasProximas3{
    position: relative;
    top: -10px;
    font-size: 35px;
    color: red;
}